::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f2f2f2;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #979797;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #515151;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f1f3f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

p#namaUser {
    padding-left: 10px;
}


/* Button */

.btn-danger {
    background-color: #830000;
    border-color: #830000;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}


/* End Button */

.m-0 {
    margin: 0 !important;
}

h4 {
    font-size: 20px;
}

a {
    color: inherit;
}

.d-bg-dark {
    background-color: #515151;
    color: #fff;
}

.text-muted {
    color: #6c757d !important;
}

#inputMenu {
    background-image: url(../assets/img/searchicon.png);
    background-position: 10px 7px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 6px 20px 6px 40px;
    border: 1px solid #ddd;
}

.cart-number {
    border-radius: 25px;
    background-color: #f5333f;
    color: #fff;
    margin-left: -5px;
    margin-top: -10px;
}

.logo-sig {
    margin-right: 5px;
}

section.body {
    margin-left: 15px;
    margin-top: 20px;
}

.h-table {
    background-color: #830000 !important;
    color: #fff;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.box {
    -webkit-box-shadow: 0 0.15rem 0.5rem rgb(0 0 0 / 34%);
    box-shadow: 0 0.15rem 0.5rem rgb(0 0 0 / 34%);
    border-radius: 0.3rem;
    /* border: 1px solid #f2f2f2; */
    background-color: #fff;
}

.filter {
    padding: 1.25rem;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th {
    color: #495057;
    height: 36px;
    /* position: relative; */
}

.table th,
.table td {
    padding: 0.75rem;
    /* vertical-align: top;
    border-top: 1px solid #dee2e6; */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 13px;
    background-color: transparent;
}

th {
    text-align: inherit;
}

.box-table {
    padding: 1.25rem
}

.ftr-tble {
    padding: 1.25rem;
}

footer {
    margin-top: 50px;
}


/* Animates */

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.show {
    opacity: 1;
    transform: scale(1);
}

h4#myModalLabel {
    margin: 0;
}

.white {
    color: #fff;
}

@media (min-width: 576px) {
    .modal-dialog.modal-lg {
        max-width: 700px;
        margin: 10% auto;
    }
}

button.btn.btn-secondary.form-control.max-w-btn-200 {
    max-width: 200px;
}


/* Tes */

.cselect {
    position: relative;
}

.cselect input {
    background: #fff;
}

.cselect input.selectDropdown:hover {
    cursor: pointer;
}

.cselect div.csdropdown {
    display: none;
    padding: 0;
    position: absolute;
    z-index: 997;
    left: 0;
    top: 2.5rem;
    margin: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0.15rem 0.5rem rgb(0 0 0 / 34%);
}

.cselect ul {
    padding: 0;
}

.cselect li {
    padding: 10px 5%;
    list-style: none;
    position: relative;
    z-index: 999;
}

.btn-dark-blue {
    background-color: #172B4D;
    border-color: #172B4D;
    color: #fff;
}

.btn-dark-blue:hover {
    background-color: #0069d9;
}